<app-two
  [data01]="meeting"
  [data02]="student"
  [data03]="employee"
  [course]="course"
  [playlist]="playlist"
  [patientRecord]="patientRecord"
  [product]="product"
  [movie]="movie"
  [shipment]="shipment"
  [conference]="conference"
  [invoice]="invoice"
  [orderNow]="orderNow"
  [ticket]="ticket"
  [transactionBank]="transactionBank"
  [productSell]="productSell"
  [guestBook]="guestBook"
  [cart]="cart"
  [restaurantOrder]="restaurantOrder"
  [classSchedule]="classSchedule"
  [ecommerceOrder]="ecommerceOrder"
>
</app-two>

<app-three 
[person]="person"
[std]="std"
[phone]="phone"
[movie1]="movie1"

></app-three>


<app-post


></app-post>
