<p class="alert alert-info">
 Hello, I'm {{person.fname}} {{person.lname}}, a {{person.age}}-year-old {{person.profession}} from {{person.city}} working at {{person.profession}}<br>
 I have {{person.experience}} years of experience and my favorite programming language is {{person.favLang}}.<br>
 I love cycling and I have a pet {{
  person.pet.type
 }} named {{
  person.pet.name
 }}.
  <!-- // Expected Output:
// Hello, I'm Ravi Kiran, a 30-year-old Software Engineer from Pune working at TechUnity Corp.
// I have 8 years of experience and my favorite programming language is JavaScript.
// I love cycling and I have a pet dog named Bruno. -->
</p>
<p class="alert alert-danger">
 Hi, I'm Aarav, a class 7 student from Sunshine Public School, Nagpur.
 My favorite subject is Science and my best friend is Riya.
 I love playing Cricket and one day I want to become a Scientist.
</p>


<p class="alert alert-secondary">
 Rohit recently bought an iPhone 15 Pro (Titanium Blue, 256GB) by Apple.
 It comes with a 48MP camera and runs on iOS 18.
 The device cost him ₹145000 and has a warranty of 2 years.
</p>

<p class="alert alert-primary">
I recently watched Inception (2010), directed by Christopher Nolan.
Leonardo DiCaprio gave an amazing performance in this Sci-Fi thriller.
My favorite scene was the Hallway fight, and I’d rate the movie 8.8/10.
</p>

<p class="alert alert-info">
  
 Sanya visited Japan for 10 days and stayed in Tokyo at Hotel Sakura.
 She traveled by Flight and spent around ₹1,20,000.
 Her favorite spot was Shibuya Crossing, and she loved trying authentic Sushi.

</p>

